.tabs-container ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tabs-container{
    margin: 0;
}

.tabs-container ul li{
    font-size: 1rem;
    padding: 10px;
    width: 10rem;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    cursor: pointer;
    transition: colour 03s ease;
}

.tabs-container ul li.active{
    background-color: #dee9de;
    color: black;
}

.tabs-container ul li:nth-child(2).active{
    background-color: #dee9de;
    color: black;
}

.tabs-container ul li:nth-child(3).active{
    background-color: #dee9de;
    color: black;
}

.tabs-container ul li:nth-child(4).active{
    background-color: #dee9de;
    color: black;
}

.tabs-container .tabs-content{
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.tabs-container .tabs-content .info{
    width: 100%;
    font-size: 1.2rem;
    height: 100%;
    overflow: hidden;
    padding: 2rem;
    line-height: 1.6;
    border-radius: 5px;
    display: none;
    animation: fadein 0.5s ease-in-out;

}

.tabs-container .tabs-content .info.active{
    display: block;
    background-color: #dee9de;
    color: black;
    padding: 0;
}
.tabs-container .tabs-content .info:nth-child(2).active{
    
    background-color: #dee9de;
}
.tabs-container .tabs-content .info:nth-child(3).active{

    background-color: #dee9de;
}
.tabs-container .tabs-content .info:nth-child(4).active{

    background-color: #dee9de;
}

@keyframes fadein {
    0% {opacity: 0;visibility: hidden;}
    100% {opacity: 1;visibility: visible;}
}